body {
    background-image: url(/images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#container {
    display: flex;
    margin-top: 128px;
    margin-left: 70px;
}

.logo img {
    margin-top: 40px;
    margin-left: 80px;
    width: 140px;
}

.content {
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    margin-left: 50px;
}

.content h2 {
    padding-right: 500px;
    font-size: 30px;
    line-height: 45px;
}

.content p {
    padding-right: 450px;
    font-size: smaller;
    line-height: 20px;
}

.content button {
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
}

.socials {
    float: right;
    margin-right: 40px;
}

svg {
    width: 30px;
    margin: 5px;
}


/* Footer */

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 40px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

svg:hover {
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
}

.content button:hover {
    color: white;
    background-color: hsl(300, 69%, 71%);
    box-shadow: 0 0 3px black;
    cursor: pointer;
}


/* responsive design */

@media screen and (max-width:375px) {
    body {
        background-image: url(/images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: 100px;
        background-size: contain;
    }
    .logo img {
        margin-top: 20px;
        margin-left: 30px;
        width: 100px;
    }
    #container {
        flex-direction: column;
        margin-top: 80px;
        margin-left: 10px;
    }
    .mockup img {
        width: 220px;
    }
    .content {
        margin-top: 50px;
        margin-left: 0px;
        text-align: center;
        padding-left: 10px;
    }
    .content h2 {
        padding-left: 20px;
        padding-right: 0px;
        margin-left: 1px;
        font-size: 20px;
        line-height: 25px;
    }
    .content p {
        padding-right: 0px;
        padding-left: 30px;
    }
    .content button {
        margin-top: 10px;
        padding: 10px 70px;
        box-shadow: 0 0 2px rgb(90, 88, 88);
    }
    svg {
        width: 20px;
        margin-top: 20px;
    }
    .socials {
        float: none;
        margin-top: 30px;
        margin-left: 110px;
        justify-content: center;
    }
    .attribution {
        margin-top: 20px;
        text-align: center;
    }
}
